## Dependencias de Python
# Estas librerías se instalan usando pip.
# Ejecuta: pip install -r requirements.txt

ttkbootstrap
Pillow
paramiko
wmi; platform_system=="Windows"
scapy
netifaces
PyQt5
PyQtWebEngine
sqlite-web

## Software Análogo Necesario (No se instala con pip)
# Este software debe ser instalado manualmente en el sistema operativo.
#
# 1. Nmap:
#    Herramienta esencial para el escaneo de red.
#    Descarga desde: https://nmap.org/download.html
#    Asegúrate de que 'nmap' esté en el PATH del sistema o especifica la ruta en la configuración si es necesario.
#
# 2. Microsoft C++ Build Tools (Solo en Windows):
#    Necesario para compilar algunas librerías de Python (como netifaces, scapy, wmi)
#    que tienen componentes en C/C++.
#    Descarga desde: https://visualstudio.microsoft.com/visual-cpp-build-tools/
#    Durante la instalación, selecciona la carga de trabajo "Desarrollo para el escritorio con C++".
#
# 3. SQLite Web:
#    Aunque está listado arriba para instalar con pip, es una herramienta de línea de comandos
#    que se ejecuta como un servidor web para visualizar la base de datos.
#    Se instala con `pip install sqlite-web`.
#
# 4. Permisos:
#    Algunas funcionalidades (como el escaneo ARP en Nmap o WMI) pueden requerir
#    permisos de administrador en el sistema operativo.